{% extends "base.html" %}
{% block title %}Notifications{% endblock %}
{% block style %}
    <!-- Materialize CSS -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
{% endblock %}
{% block index %}
{% endblock %}
    
{% block content %}
    <div class="container">
        <h1 class="center-align">Create Notification</h1>
        <form method="post" class="col s12">
            {% csrf_token %}
            <div class="row">
                <div class="input-field col s12">
                    <select name="user" id="user">
                        <option value="" disabled selected>Choose a user</option>
                        {% for user in users %}
                            <option value="{{ user.id }}">{{ user.username }}</option>
                        {% endfor %}
                    </select>
                    <label for="user">User</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea name="message" id="message" class="materialize-textarea"></textarea>
                    <label for="message">Message</label>
                </div>
            </div>
            <div class="row">
                <button class="btn waves-effect waves-light" type="submit">Save</button>
            </div>
        </form>
    </div>
    <!-- Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
{% endblock %}
